flow.json
[{"id":"2eea27c2c74ff132","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"0b8aab268d0b4577","type":"mqtt-broker","name":"SensorHub","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"530ff3e731b8536d","type":"ui_tab","name":"SensorHub","icon":"dashboard","disabled":false,"hidden":false},{"id":"df9945b7a3e569f6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6ed866d99e73b8c8","type":"sqlitedb","db":"/home/pi/testDepartment.db","mode":"RW"},{"id":"d35bd0e6b87d0ae3","type":"ui_group","name":"Styling","tab":"530ff3e731b8536d","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"717365a609974a40","type":"ui_tab","name":"LinkingHub","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5a921d3fec746c72","type":"ui_group","name":"Deel 1","tab":"717365a609974a40","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"5923df748c798da2","type":"ui_group","name":"Deel 2","tab":"717365a609974a40","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"c628ab0d6ab64b63","type":"ui_group","name":"Deel 3","tab":"717365a609974a40","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"11df73ddbe44ebcd","type":"ui_group","name":"NTC/14367.AB/01","tab":"530ff3e731b8536d","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"e603f7cf0634813c","type":"ui_group","name":"NTC/14367.AB/02","tab":"530ff3e731b8536d","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"82d297b36adcfe3a","type":"ui_group","name":"NTC/2321.CA/01","tab":"530ff3e731b8536d","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"96e65c5fb033e64a","type":"ui_group","name":"NTC/2321.CA/02","tab":"530ff3e731b8536d","order":5,"disp":true,"width":"6","collapse":true,"className":""},{"id":"1ea3e1d2a009a7e5","type":"ui_group","name":"NTC/2321.CA/03","tab":"530ff3e731b8536d","order":6,"disp":true,"width":"6","collapse":true,"className":""},{"id":"892d35160d740a12","type":"ui_group","name":"NTC/2321.BA/01","tab":"530ff3e731b8536d","order":7,"disp":true,"width":"6","collapse":true,"className":""},{"id":"e721707005432936","type":"ui_group","name":"NTC/2321.AA/01","tab":"530ff3e731b8536d","order":8,"disp":true,"width":"6","collapse":true,"className":""},{"id":"78f2a0c10a66071c","type":"ui_group","name":"NTC/2321.AA/02","tab":"530ff3e731b8536d","order":9,"disp":true,"width":"6","collapse":true,"className":""},{"id":"943632e8e09231cc","type":"ui_group","name":"NTC/2320.AB/01","tab":"530ff3e731b8536d","order":10,"disp":true,"width":"6","collapse":true,"className":""},{"id":"6e8e838274b954b0","type":"ui_group","name":"NTC/2320.AA/01","tab":"530ff3e731b8536d","order":11,"disp":true,"width":"6","collapse":true,"className":""},{"id":"54c8d6dee6972039","type":"ui_group","name":"NTC/2320.AA/02","tab":"530ff3e731b8536d","order":12,"disp":true,"width":"6","collapse":true,"className":""},{"id":"dea9a1694e75ede9","type":"ui_group","name":"NTC/2317.CA/01","tab":"530ff3e731b8536d","order":13,"disp":true,"width":"6","collapse":true,"className":""},{"id":"d298e471ee94eb4f","type":"ui_group","name":"NTC/2317.BA/01","tab":"530ff3e731b8536d","order":14,"disp":true,"width":"6","collapse":true,"className":""},{"id":"457a3079f3481b18","type":"ui_group","name":"NTC/2317.BA/02","tab":"530ff3e731b8536d","order":15,"disp":true,"width":"6","collapse":true,"className":""},{"id":"07f5f397a1d9d813","type":"ui_group","name":"NTC/2317.AA/01","tab":"530ff3e731b8536d","order":17,"disp":true,"width":"6","collapse":true,"className":""},{"id":"61b5fe15707ab9d6","type":"ui_group","name":"NTC/2316.AA/01","tab":"530ff3e731b8536d","order":18,"disp":true,"width":"6","collapse":true,"className":""},{"id":"3243bcafb95e1195","type":"ui_group","name":"NTC/2315.AA/01","tab":"530ff3e731b8536d","order":19,"disp":true,"width":"6","collapse":true,"className":""},{"id":"a651ebccee6d18fd","type":"ui_group","name":"NTC/2314.xx/01","tab":"530ff3e731b8536d","order":20,"disp":true,"width":"6","collapse":true,"className":""},{"id":"d2afa7826e3430a6","type":"ui_group","name":"NTC/2312.AA/01","tab":"530ff3e731b8536d","order":21,"disp":true,"width":"6","collapse":true,"className":""},{"id":"31e4ea9065ab44f3","type":"ui_group","name":"NTC/2310.AA/01","tab":"530ff3e731b8536d","order":22,"disp":true,"width":"6","collapse":true,"className":""},{"id":"91e11725415bb088","type":"ui_group","name":"NTC/2309.AA/01","tab":"530ff3e731b8536d","order":23,"disp":true,"width":"6","collapse":true,"className":""},{"id":"ec8a94f52325987d","type":"ui_group","name":"NTC/2308.AA/01","tab":"530ff3e731b8536d","order":24,"disp":true,"width":"6","collapse":true,"className":""},{"id":"98183b093a23b024","type":"ui_group","name":"NTC/2308.AA/02","tab":"530ff3e731b8536d","order":25,"disp":true,"width":"6","collapse":true,"className":""},{"id":"2f41bfc0d1abddcb","type":"ui_group","name":"NTC/2306.AA/01","tab":"530ff3e731b8536d","order":26,"disp":true,"width":"6","collapse":true,"className":""},{"id":"65ac750b577b29a0","type":"ui_group","name":"NTC/2306.AA/02","tab":"530ff3e731b8536d","order":27,"disp":true,"width":"6","collapse":true,"className":""},{"id":"19c443ce1d1fc266","type":"ui_group","name":"NTC/2306.AA/03","tab":"530ff3e731b8536d","order":28,"disp":true,"width":"6","collapse":true,"className":""},{"id":"0bd34faf4ba61c7a","type":"ui_group","name":"NTC/2305.AD/01","tab":"530ff3e731b8536d","order":29,"disp":true,"width":"6","collapse":true,"className":""},{"id":"a9e87f344ae8258f","type":"ui_group","name":"NTC/2305.AD/02","tab":"530ff3e731b8536d","order":30,"disp":true,"width":"6","collapse":true,"className":""},{"id":"432f4ef89fd921eb","type":"ui_group","name":"NTC/2305.AD/03","tab":"530ff3e731b8536d","order":31,"disp":true,"width":"6","collapse":true,"className":""},{"id":"bd0b73c680dfcab9","type":"ui_group","name":"NTC/2305.AD/04","tab":"530ff3e731b8536d","order":32,"disp":true,"width":"6","collapse":true,"className":""},{"id":"2b2150fa5a3f00a2","type":"ui_group","name":"NTC/2305.AC/01","tab":"530ff3e731b8536d","order":33,"disp":true,"width":"6","collapse":true,"className":""},{"id":"9c27be42b86a5066","type":"ui_group","name":"NTC/2305.AB/01","tab":"530ff3e731b8536d","order":34,"disp":true,"width":"6","collapse":true,"className":""},{"id":"58690ec09b35564b","type":"ui_group","name":"NTC/2305.AB/02","tab":"530ff3e731b8536d","order":35,"disp":true,"width":"6","collapse":true,"className":""},{"id":"6db8d0751244b97b","type":"ui_group","name":"NTC/2305.AB/03","tab":"530ff3e731b8536d","order":36,"disp":true,"width":"6","collapse":true,"className":""},{"id":"cbf2b1591556be5d","type":"ui_group","name":"NTC/2305.AB/04","tab":"530ff3e731b8536d","order":37,"disp":true,"width":"6","collapse":true,"className":""},{"id":"3edc661f52537f3a","type":"ui_group","name":"NTC/2305.AA/01","tab":"530ff3e731b8536d","order":38,"disp":true,"width":"6","collapse":true,"className":""},{"id":"9127e79fb54cbc8d","type":"ui_group","name":"NTC/2305.AA/02","tab":"530ff3e731b8536d","order":39,"disp":true,"width":"6","collapse":true,"className":""},{"id":"1cd3709ddd29da9e","type":"ui_group","name":"NTC/2305.AA/03","tab":"530ff3e731b8536d","order":40,"disp":true,"width":"6","collapse":true,"className":""},{"id":"1c4e1d0b36ba12b1","type":"ui_group","name":"NTC/2304.AA/01","tab":"530ff3e731b8536d","order":41,"disp":true,"width":"6","collapse":true,"className":""},{"id":"7d1e0d9ae21bd162","type":"ui_group","name":"NTC/2304.AA/02","tab":"530ff3e731b8536d","order":42,"disp":true,"width":"6","collapse":true,"className":""},{"id":"9a5d55ca2a7acd32","type":"ui_group","name":"NTC/2300.AA/01","tab":"530ff3e731b8536d","order":43,"disp":true,"width":"6","collapse":true,"className":""},{"id":"899f817c1177cd56","type":"ui_group","name":"NTC/2300.AA/02","tab":"530ff3e731b8536d","order":44,"disp":true,"width":"6","collapse":true,"className":""},{"id":"fc01cd21ca096922","type":"ui_group","name":"NTC/2298.BA/01","tab":"530ff3e731b8536d","order":45,"disp":true,"width":"6","collapse":true,"className":""},{"id":"e9ba20e5ba995a5c","type":"ui_group","name":"NTC/2289.AA/01","tab":"530ff3e731b8536d","order":46,"disp":true,"width":"6","collapse":true,"className":""},{"id":"2a4792acdc07b2eb","type":"ui_group","name":"NTC/2298.AA/01","tab":"530ff3e731b8536d","order":47,"disp":true,"width":"6","collapse":true,"className":""},{"id":"fda14ae9c94581eb","type":"ui_group","name":"NTC/2287.AB/01","tab":"530ff3e731b8536d","order":48,"disp":true,"width":"6","collapse":true,"className":""},{"id":"65065bcf75a87b5d","type":"ui_group","name":"NTC/2287.AB/02","tab":"530ff3e731b8536d","order":49,"disp":true,"width":"6","collapse":true,"className":""},{"id":"829627e8ea93cdf2","type":"ui_group","name":"NTC/2287.AA/01","tab":"530ff3e731b8536d","order":50,"disp":true,"width":"6","collapse":true,"className":""},{"id":"8f1cc1e0befd1ac2","type":"ui_group","name":"NTC/2287.AA/02","tab":"530ff3e731b8536d","order":51,"disp":true,"width":"6","collapse":true,"className":""},{"id":"56184f5494956f46","type":"ui_group","name":"NTC/2286.AA/01","tab":"530ff3e731b8536d","order":52,"disp":true,"width":"6","collapse":true,"className":""},{"id":"35202b93465eb601","type":"ui_group","name":"Dialog/TB001","tab":"530ff3e731b8536d","order":53,"disp":true,"width":"6","collapse":true,"className":""},{"id":"c8ce24ac994de141","type":"ui_group","name":"NTC/2321.AA/03","tab":"530ff3e731b8536d","order":54,"disp":true,"width":"6","collapse":true,"className":""},{"id":"b48c5fe643d0672c","type":"ui_group","name":"Deel 3","tab":"717365a609974a40","order":4,"disp":false,"width":"2","collapse":false,"className":""},{"id":"f77313962c186d54","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/14367.AB/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":100,"wires":[["ef7dcf31aaf13989"]]},{"id":"d6a48ec716b7c6c2","type":"ui_template","z":"2eea27c2c74ff132","group":"d35bd0e6b87d0ae3","name":"CSS Styling","order":1,"width":0,"height":0,"format":"<style>\n    .nr-dashboard-cardtitle{\n        text-align: center;\n    }\n    #toolbar {\n        background-color: crimson;\n    }\n    .md-toolbar-tools {\n        text-align: center;\n        display: inline;\n        margin-bottom: 20px;\n    }\n    ui-card-panel, .nr-dashboard-cardcontainer md-card{\n        border-color: darkgrey !important;\n        border-radius: 10px;\n    }\n    .timer {\n        text-align: center;\n    }\n    .Succes{\n        color: green;\n        text-align: center !important;\n        font-weight: bold;\n    }\n    md-card:has(.Succes), ui-card-panel:has(.Succes){\n        background-color: lightgreen !important;\n    }\n    .Failed{\n        color: red;\n        text-align: center !important;\n        font-weight: bold;\n    }\n    md-card:has(.Failed), ui-card-panel:has(.Failed){\n        background-color: darkorange !important;\n    }\n    .Hold{\n        text-align: center !important;\n        font-weight: bold;\n    }\n    md-card:has(.Hold), ui-card-panel:has(.Hold){\n        background-color: red !important;\n    }\n    .UndefinedState, .Screen, .Idle{\n        color: black;\n        text-align: center !important;\n        font-weight: bold;\n    }\n    .Running {\n        text-align: center !important;\n        font-weight: bold ;\n    }\n    \n    .Running:after {\n        overflow: hidden;\n        display: inline-block;\n        vertical-align: bottom;\n        -webkit-animation: ellipsis steps(4,end) 1500ms infinite;\n        animation: ellipsis steps(4,end) 1500ms infinite;\n        content: \"\\2026\"; /* ascii code for the ellipsis character */\n        width: 0px;\n    }\n    \n    @keyframes ellipsis {\n        to {\n        width: 1.25em;\n        }\n    }\n    \n    @-webkit-keyframes ellipsis {\n        to {\n        width: 1.25em;\n        }\n    }\n    .md-raised .md-button .md-ink-ripple{\n        margin: auto;\n        width: 50%;\n    }\n    .md-input-container {\n        margin: 50px;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":930,"y":40,"wires":[[]]},{"id":"ef7dcf31aaf13989","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload1') || 0;\nvar lastTime = flow.get('lastTime1') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime1', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\"\n    + \"VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload1') + \"\\\", \\\"\" \n    + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload1', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":160,"wires":[["5dc445f57d6d186c","f5a526011dce5533"],["5dc445f57d6d186c","29d45cd27eeba040"]]},{"id":"5dc445f57d6d186c","type":"debug","z":"2eea27c2c74ff132","name":"NTC/14367.AB/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"29d45cd27eeba040","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":180,"wires":[[]]},{"id":"59282c926987cef0","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"","name":"Get testsetups","x":1600,"y":200,"wires":[["a63fb4cd248f6f1c","b479b82cee19e86c"]]},{"id":"db86a3182a707c1c","type":"inject","z":"2eea27c2c74ff132","name":"On startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT * FROM testsetups;","payload":"","payloadType":"date","x":1610,"y":140,"wires":[["59282c926987cef0"]]},{"id":"05c3865cc0db2a47","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in moduleReference","x":2620,"y":240,"wires":[[]]},{"id":"7f64ae85d132838a","type":"function","z":"2eea27c2c74ff132","name":"Insert","func":"msg.topic = \"UPDATE moduleReference SET testsetup_id = \\\"\"+ msg.payload +\"\\\" WHERE id = \\\"\"+msg.topic+\"\\\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2430,"y":240,"wires":[["05c3865cc0db2a47","b1b5c133b945e861"]]},{"id":"d79387cda46ca737","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"","name":"Get references from moduleReference","x":1970,"y":520,"wires":[["12214059e0d6b5fd"]]},{"id":"f9941049343422b2","type":"inject","z":"2eea27c2c74ff132","name":"Refresh References","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM moduleReference;","payload":"","payloadType":"date","x":1700,"y":520,"wires":[["d79387cda46ca737"]]},{"id":"a9df166d4e0597e4","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"1:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"1","topicType":"str","className":"","x":1830,"y":80,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"a63fb4cd248f6f1c","type":"function","z":"2eea27c2c74ff132","name":"Populate Dropdowns","func":"let testsetupArray = msg.payload;\nlet result = testsetupArray.map(a => a.id);\nmsg.options = result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":260,"wires":[["a9df166d4e0597e4","cb97f1f85b3fbfc2","f9352a325582d981","07ee81befd20019d","016eac02407f777d","9cc28266e8c2f94d","f0538871f93bd002","682c274599648576","ec727c488ddb7e94","8ecd7fe2b5e8c56e","73038372c4d202e1","7ea4f2d06672e898","0be4c60d4c88e0e1","d71735cf46f448d3","ef84d249bfc0ba07","306dc7c9cff83d79","27eb3e7824619f96","99a07db8072fa89a","adbc6917871bcaa0","bbbe83ea3df3ba17","74dbd754be369e9e","01c2c7d858b39b66","6ffde3ad1d512836","7944f933073d960b","84b380fe4b73f501","22c0d0a36a162592","9ea0ed2e8fb09393","756a2aa6039774a7","774299fe7fff13b0","d969a0fb20f303ee"]]},{"id":"cb97f1f85b3fbfc2","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"2:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"2","topicType":"str","className":"","x":1830,"y":120,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"f9352a325582d981","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"3:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"3","topicType":"str","className":"","x":1830,"y":160,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"07ee81befd20019d","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"4:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"4","topicType":"str","className":"","x":1830,"y":200,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"016eac02407f777d","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"5:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"5","topicType":"str","className":"","x":1830,"y":240,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"9cc28266e8c2f94d","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"6:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"6","topicType":"str","className":"","x":1830,"y":280,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"f0538871f93bd002","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"7:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"7","topicType":"str","className":"","x":1830,"y":320,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"682c274599648576","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"8:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"8","topicType":"str","className":"","x":1830,"y":360,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"ec727c488ddb7e94","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"9:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"9","topicType":"str","className":"","x":1830,"y":400,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"8ecd7fe2b5e8c56e","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"10:","tooltip":"","place":"Select testsetup","group":"5a921d3fec746c72","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"10","topicType":"str","className":"","x":1830,"y":440,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"73038372c4d202e1","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"11:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"11","topicType":"str","className":"","x":2030,"y":80,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"7ea4f2d06672e898","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"12:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"12","topicType":"str","className":"","x":2030,"y":120,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"0be4c60d4c88e0e1","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"13:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"13","topicType":"str","className":"","x":2030,"y":160,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"d71735cf46f448d3","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"14:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"14","topicType":"str","className":"","x":2030,"y":200,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"ef84d249bfc0ba07","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"15:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"15","topicType":"str","className":"","x":2030,"y":240,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"306dc7c9cff83d79","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"16:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"16","topicType":"str","className":"","x":2030,"y":280,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"27eb3e7824619f96","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"17:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"17","topicType":"str","className":"","x":2030,"y":320,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"99a07db8072fa89a","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"18:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"18","topicType":"str","className":"","x":2030,"y":360,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"adbc6917871bcaa0","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"19:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"19","topicType":"str","className":"","x":2030,"y":400,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"bbbe83ea3df3ba17","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"20:","tooltip":"","place":"Select testsetup","group":"5923df748c798da2","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"20","topicType":"str","className":"","x":2030,"y":440,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"74dbd754be369e9e","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"21:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"21","topicType":"str","className":"","x":2230,"y":80,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"01c2c7d858b39b66","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"22:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"22","topicType":"str","className":"","x":2230,"y":120,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"6ffde3ad1d512836","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"23:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"23","topicType":"str","className":"","x":2230,"y":160,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"7944f933073d960b","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"24:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"24","topicType":"str","className":"","x":2230,"y":200,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"84b380fe4b73f501","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"25:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"25","topicType":"str","className":"","x":2230,"y":240,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"22c0d0a36a162592","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"26:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"26","topicType":"str","className":"","x":2230,"y":280,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"9ea0ed2e8fb09393","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"27:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"27","topicType":"str","className":"","x":2230,"y":320,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"756a2aa6039774a7","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"28:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"28","topicType":"str","className":"","x":2230,"y":360,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"774299fe7fff13b0","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"29:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"29","topicType":"str","className":"","x":2230,"y":400,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"d969a0fb20f303ee","type":"ui_dropdown","z":"2eea27c2c74ff132","name":"","label":"30:","tooltip":"","place":"Select testsetup","group":"c628ab0d6ab64b63","order":31,"width":"6","height":"2","passthru":false,"multiple":false,"options":[],"payload":"","topic":"30","topicType":"str","className":"","x":2230,"y":440,"wires":[["7f64ae85d132838a","8850cf0e312c76f7"]]},{"id":"8850cf0e312c76f7","type":"mqtt out","z":"2eea27c2c74ff132","name":"module id topics","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b8aab268d0b4577","x":2460,"y":280,"wires":[]},{"id":"b1b5c133b945e861","type":"debug","z":"2eea27c2c74ff132","name":"Update reference table","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2600,"y":140,"wires":[]},{"id":"12214059e0d6b5fd","type":"function","z":"2eea27c2c74ff132","name":"Dump references in MQTT","func":"let updatedMsg = {};\nfor (let i = 0; i < 30; i++){\n    updatedMsg.payload = msg.payload[i][\"testsetup_id\"];\n    updatedMsg.topic = (msg.payload[i][\"id\"]).toString();\n    node.send(updatedMsg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2260,"y":520,"wires":[["95bc87801495e2e8"]]},{"id":"95bc87801495e2e8","type":"mqtt out","z":"2eea27c2c74ff132","name":"module id topics","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b8aab268d0b4577","x":2500,"y":520,"wires":[]},{"id":"550eea1da1767823","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/14367.AB/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":220,"wires":[["d0a48fc7aca4b9d1"]]},{"id":"d0a48fc7aca4b9d1","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload2') || 0;\nvar lastTime = flow.get('lastTime2') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime2', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload2') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload2', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":280,"wires":[["df7c6e75211073a1","d7dee73faa4d1fae"],["d7dee73faa4d1fae","e6c17f572edd1bd6"]]},{"id":"d7dee73faa4d1fae","type":"debug","z":"2eea27c2c74ff132","name":"NTC/14367.AB/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"e6c17f572edd1bd6","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":300,"wires":[[]]},{"id":"cc92315db9c110f0","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2321.CA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":340,"wires":[["11d5768e4a85551d"]]},{"id":"11d5768e4a85551d","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload3') || 0;\nvar lastTime = flow.get('lastTime3') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime3', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload3') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload3', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":400,"wires":[["e9c1b6429191a3ae","de7beca4bcf37fc8"],["de7beca4bcf37fc8","2c8def6cc0ae7dea"]]},{"id":"de7beca4bcf37fc8","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2321.CA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":380,"wires":[]},{"id":"2c8def6cc0ae7dea","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":420,"wires":[[]]},{"id":"1a6ed2569c8f336a","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2321.CA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":460,"wires":[["6352bc5dabfc6368"]]},{"id":"6352bc5dabfc6368","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload4') || 0;\nvar lastTime = flow.get('lastTime4') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime4', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload4') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload4', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":520,"wires":[["2aa176cbc7fe892b","de78ac09fb72ff40"],["de78ac09fb72ff40","2a5394ba04868ea0"]]},{"id":"de78ac09fb72ff40","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2321.CA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":500,"wires":[]},{"id":"2a5394ba04868ea0","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":540,"wires":[[]]},{"id":"df7c6e75211073a1","type":"ui_template","z":"2eea27c2c74ff132","group":"e603f7cf0634813c","name":"Display Panel ","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":220,"wires":[[]]},{"id":"e9c1b6429191a3ae","type":"ui_template","z":"2eea27c2c74ff132","group":"82d297b36adcfe3a","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":340,"wires":[[]]},{"id":"2aa176cbc7fe892b","type":"ui_template","z":"2eea27c2c74ff132","group":"96e65c5fb033e64a","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":460,"wires":[[]]},{"id":"5e94c93aeefca011","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2321.CA/03","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":580,"wires":[["d31792417f7bd7ca"]]},{"id":"d31792417f7bd7ca","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload5') || 0;\nvar lastTime = flow.get('lastTime5') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\n//node.warn(\"Runtime is \" + runTime);\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime5', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload5') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload5', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":640,"wires":[["559e3cea1ca09749","72e5ee4c59a97a73"],["72e5ee4c59a97a73","3b241d7b08f948b3"]]},{"id":"72e5ee4c59a97a73","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2321.CA/03","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":620,"wires":[]},{"id":"3b241d7b08f948b3","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":660,"wires":[[]]},{"id":"559e3cea1ca09749","type":"ui_template","z":"2eea27c2c74ff132","group":"1ea3e1d2a009a7e5","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":580,"wires":[[]]},{"id":"0c9f09e7eba7ab54","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2321.BA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":700,"wires":[["eaaf74dd83c1b43b"]]},{"id":"eaaf74dd83c1b43b","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload6') || 0;\nvar lastTime = flow.get('lastTime6') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime6', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload6') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload6', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":760,"wires":[["bbd1337ac464f06b","abf9810417b36609"],["abf9810417b36609","beef4f237a1583bf"]]},{"id":"abf9810417b36609","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2321.BA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":740,"wires":[]},{"id":"beef4f237a1583bf","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":780,"wires":[[]]},{"id":"bbd1337ac464f06b","type":"ui_template","z":"2eea27c2c74ff132","group":"892d35160d740a12","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":700,"wires":[[]]},{"id":"c92ef8f2f7ad4b24","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2321.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":820,"wires":[["4c7b660c9bc62458"]]},{"id":"4c7b660c9bc62458","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload7') || 0;\nvar lastTime = flow.get('lastTime7') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime7', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload7') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload7', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":880,"wires":[["3712ed26c9f298d6","a227b55c7c9c8bab"],["a227b55c7c9c8bab","c702baf4431e675e"]]},{"id":"a227b55c7c9c8bab","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2321.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":860,"wires":[]},{"id":"c702baf4431e675e","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":900,"wires":[[]]},{"id":"3712ed26c9f298d6","type":"ui_template","z":"2eea27c2c74ff132","group":"e721707005432936","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":820,"wires":[[]]},{"id":"854b712376ad97e3","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2321.AA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":940,"wires":[["035b9e2083c35d5c"]]},{"id":"035b9e2083c35d5c","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload8') || 0;\nvar lastTime = flow.get('lastTime8') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime8', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload8') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload8', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1000,"wires":[["59ccbb116b5bcea4","6d8f07b1b0672d4b"],["6d8f07b1b0672d4b","149b85b1611f85a3"]]},{"id":"6d8f07b1b0672d4b","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2321.AA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":980,"wires":[]},{"id":"149b85b1611f85a3","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":1020,"wires":[[]]},{"id":"59ccbb116b5bcea4","type":"ui_template","z":"2eea27c2c74ff132","group":"78f2a0c10a66071c","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":940,"wires":[[]]},{"id":"d7948abef189c63d","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2321.AA/03","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1060,"wires":[["0944e5c987ee3486"]]},{"id":"0944e5c987ee3486","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload9') || 0;\nvar lastTime = flow.get('lastTime9') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime9', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload9') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload9', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1120,"wires":[["fe6db7f90163d832","c468b68263a655c3"],["c468b68263a655c3","0b10154d97d7c1fa"]]},{"id":"c468b68263a655c3","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2321.AA/03","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1100,"wires":[]},{"id":"0b10154d97d7c1fa","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":1140,"wires":[[]]},{"id":"fe6db7f90163d832","type":"ui_template","z":"2eea27c2c74ff132","group":"c8ce24ac994de141","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":1060,"wires":[[]]},{"id":"3d521dba3879ef45","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2320.AB/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1180,"wires":[["43a9f31192c6e386"]]},{"id":"43a9f31192c6e386","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload10') || 0;\nvar lastTime = flow.get('lastTime108') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime10', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload10') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload10', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1240,"wires":[["fbb0c30998bf28df","e631b886d4df1f11"],["e631b886d4df1f11","a4df8088f0a094cf"]]},{"id":"e631b886d4df1f11","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2320.AB/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1220,"wires":[]},{"id":"a4df8088f0a094cf","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":1260,"wires":[[]]},{"id":"fbb0c30998bf28df","type":"ui_template","z":"2eea27c2c74ff132","group":"943632e8e09231cc","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":1180,"wires":[[]]},{"id":"66a260251f776018","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2320.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1300,"wires":[["a588271dc8933d74"]]},{"id":"a588271dc8933d74","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload11') || 0;\nvar lastTime = flow.get('lastTime11') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime11', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload11') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload11', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1360,"wires":[["efa6cb13b91bbf93","b4c25ec81e876687"],["b4c25ec81e876687","aaee278934a6f631"]]},{"id":"b4c25ec81e876687","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2320.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1340,"wires":[]},{"id":"aaee278934a6f631","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":1380,"wires":[[]]},{"id":"efa6cb13b91bbf93","type":"ui_template","z":"2eea27c2c74ff132","group":"6e8e838274b954b0","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":1300,"wires":[[]]},{"id":"dccb955c534088b7","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2320.AA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1420,"wires":[["debe60cea00b549e"]]},{"id":"debe60cea00b549e","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload12') || 0;\nvar lastTime = flow.get('lastTime12') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime12', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload12') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload12', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1480,"wires":[["0774c3e0d66206ac","91e88259eefdddad"],["91e88259eefdddad","68453baa02b025fa"]]},{"id":"91e88259eefdddad","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2320.AA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1460,"wires":[]},{"id":"68453baa02b025fa","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":1500,"wires":[[]]},{"id":"0774c3e0d66206ac","type":"ui_template","z":"2eea27c2c74ff132","group":"54c8d6dee6972039","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":1420,"wires":[[]]},{"id":"626b34a41108a3ab","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2317.CA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1540,"wires":[["aa184a7cf785e974"]]},{"id":"aa184a7cf785e974","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload13') || 0;\nvar lastTime = flow.get('lastTime13') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime13', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload13') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload13', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1600,"wires":[["39e12ad4314831fd","cc8e509f9a3a9880"],["cc8e509f9a3a9880","f18e3a77ba8cdb68"]]},{"id":"cc8e509f9a3a9880","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2317.CA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1580,"wires":[]},{"id":"f18e3a77ba8cdb68","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":1620,"wires":[[]]},{"id":"39e12ad4314831fd","type":"ui_template","z":"2eea27c2c74ff132","group":"dea9a1694e75ede9","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":1540,"wires":[[]]},{"id":"64a5658110970938","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2317.BA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1660,"wires":[["d142d558a7bfedf5"]]},{"id":"d142d558a7bfedf5","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload14') || 0;\nvar lastTime = flow.get('lastTime14') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime14', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload14') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload14', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1720,"wires":[["861ece6ab747c2e7","d8f1b584ba66f0b1"],["d8f1b584ba66f0b1","a32a611f52b959b8"]]},{"id":"d8f1b584ba66f0b1","type":"debug","z":"2eea27c2c74ff132","name":"NTC2317.BA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":1700,"wires":[]},{"id":"a32a611f52b959b8","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":1740,"wires":[[]]},{"id":"861ece6ab747c2e7","type":"ui_template","z":"2eea27c2c74ff132","group":"d298e471ee94eb4f","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":1660,"wires":[[]]},{"id":"9890ac71244c0cc1","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2317.BA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1780,"wires":[["b7e671ac90ba3799"]]},{"id":"b7e671ac90ba3799","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload15') || 0;\nvar lastTime = flow.get('lastTime15') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime15', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload15') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload15', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1840,"wires":[["48fab2c67ab3e88e","6cba61891e25065e"],["6cba61891e25065e","1572f44e5a64f947"]]},{"id":"6cba61891e25065e","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2317.BA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1820,"wires":[]},{"id":"1572f44e5a64f947","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":1860,"wires":[[]]},{"id":"48fab2c67ab3e88e","type":"ui_template","z":"2eea27c2c74ff132","group":"457a3079f3481b18","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":1780,"wires":[[]]},{"id":"715dd10be2a21614","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2317.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1900,"wires":[["5af8463de3f930c7"]]},{"id":"5af8463de3f930c7","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload16') || 0;\nvar lastTime = flow.get('lastTime16') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime16', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload16') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload16', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1960,"wires":[["8278920459ea5738","deeca24e21e53cff"],["deeca24e21e53cff","ed3f190ed72b5d73"]]},{"id":"deeca24e21e53cff","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2317.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1940,"wires":[]},{"id":"ed3f190ed72b5d73","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":1980,"wires":[[]]},{"id":"8278920459ea5738","type":"ui_template","z":"2eea27c2c74ff132","group":"07f5f397a1d9d813","name":"Display Panel","order":4,"width":"6","height":"2","format":"<div class={{msg.payload}}>{{msg.payload}}</div>\n<div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":1900,"wires":[[]]},{"id":"b255954618d5995e","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2316.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2020,"wires":[["87be907da0b78608"]]},{"id":"87be907da0b78608","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload17') || 0;\nvar lastTime = flow.get('lastTime17') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime17', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload17') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload17', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2080,"wires":[["5578242471acb0b1","59a7811ec89fa391"],["59a7811ec89fa391","9965256e1793c37a"]]},{"id":"59a7811ec89fa391","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2316.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2060,"wires":[]},{"id":"9965256e1793c37a","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":2100,"wires":[[]]},{"id":"5578242471acb0b1","type":"ui_template","z":"2eea27c2c74ff132","group":"61b5fe15707ab9d6","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":2020,"wires":[[]]},{"id":"4cb1b8e9bc93acae","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2315.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2140,"wires":[["a5c116e014a7ec96"]]},{"id":"a5c116e014a7ec96","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload18') || 0;\nvar lastTime = flow.get('lastTime18') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime18', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload18') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload18', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2200,"wires":[["1d2e3a6348851f22","9e2958400a9a767f"],["9e2958400a9a767f","b143794657d1ccd0"]]},{"id":"9e2958400a9a767f","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2315.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2180,"wires":[]},{"id":"b143794657d1ccd0","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":2220,"wires":[[]]},{"id":"1d2e3a6348851f22","type":"ui_template","z":"2eea27c2c74ff132","group":"3243bcafb95e1195","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":2140,"wires":[[]]},{"id":"3326d68d2a6de983","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2314.xx/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2260,"wires":[["79e988ff42448f43"]]},{"id":"79e988ff42448f43","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload19') || 0;\nvar lastTime = flow.get('lastTime19') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime19', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload19') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload19', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2320,"wires":[["f399cacc6248594a","9e521f998b154645"],["9e521f998b154645","d98276b775b66536"]]},{"id":"9e521f998b154645","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2314.xx/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":2300,"wires":[]},{"id":"d98276b775b66536","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":2340,"wires":[[]]},{"id":"f399cacc6248594a","type":"ui_template","z":"2eea27c2c74ff132","group":"a651ebccee6d18fd","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":2260,"wires":[[]]},{"id":"bdc6b1fad2ba3fe2","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2312.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2380,"wires":[["26ba3ffcf4ec5c0a"]]},{"id":"26ba3ffcf4ec5c0a","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload20') || 0;\nvar lastTime = flow.get('lastTime20') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime20', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload20') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload20', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2440,"wires":[["afdfb187cc8c0efa","5994315e4cbb72ae"],["5994315e4cbb72ae","b2532e9b88754e4c"]]},{"id":"5994315e4cbb72ae","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2312.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2420,"wires":[]},{"id":"b2532e9b88754e4c","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":2460,"wires":[[]]},{"id":"afdfb187cc8c0efa","type":"ui_template","z":"2eea27c2c74ff132","group":"d2afa7826e3430a6","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":2380,"wires":[[]]},{"id":"ae4d3681ad505f3f","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2310.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2500,"wires":[["f620f48f2ca6b0f1"]]},{"id":"f620f48f2ca6b0f1","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload21') || 0;\nvar lastTime = flow.get('lastTime21') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime21', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload21') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload21', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2560,"wires":[["d420a39a6e880729","ba2a78355e5033a1"],["ba2a78355e5033a1","870c14918c69cffb"]]},{"id":"ba2a78355e5033a1","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2310.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2540,"wires":[]},{"id":"870c14918c69cffb","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":2580,"wires":[[]]},{"id":"d420a39a6e880729","type":"ui_template","z":"2eea27c2c74ff132","group":"31e4ea9065ab44f3","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":2500,"wires":[[]]},{"id":"bde524173f929626","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2309.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2620,"wires":[["3580023bea84c6d0"]]},{"id":"3580023bea84c6d0","type":"function","z":"2eea27c2c74ff132","name":"Statechange&TimeTracking","func":"var lastPayload = flow.get('lastPayload22') || 0;\nvar lastTime = flow.get('lastTime22') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime22', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload22') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload22', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2680,"wires":[["153efaf030b7981e","18387d633ad58cf7"],["18387d633ad58cf7","27d1a53f3bb693dc"]]},{"id":"18387d633ad58cf7","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2309.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2660,"wires":[]},{"id":"27d1a53f3bb693dc","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":2700,"wires":[[]]},{"id":"153efaf030b7981e","type":"ui_template","z":"2eea27c2c74ff132","group":"91e11725415bb088","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":2620,"wires":[[]]},{"id":"2b40fb3eac4251a8","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2308.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2740,"wires":[["51b473a959f2828d"]]},{"id":"51b473a959f2828d","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload23') || 0;\nvar lastTime = flow.get('lastTime23') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime23', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload23') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload23', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2800,"wires":[["406091c31e9f1f8b","64b31aea1beb5c25"],["64b31aea1beb5c25","1794db8133480796"]]},{"id":"64b31aea1beb5c25","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2308.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2780,"wires":[]},{"id":"1794db8133480796","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":2820,"wires":[[]]},{"id":"406091c31e9f1f8b","type":"ui_template","z":"2eea27c2c74ff132","group":"ec8a94f52325987d","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":2740,"wires":[[]]},{"id":"2b8906e1e43f1929","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2308.AA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2860,"wires":[["f84d1ce5e3587401"]]},{"id":"f84d1ce5e3587401","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload24') || 0;\nvar lastTime = flow.get('lastTime24') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime24', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload24') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload24', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2920,"wires":[["15a4c0833d7af018","cc8dfea68678f10c"],["cc8dfea68678f10c","1f690aa69d744a21"]]},{"id":"cc8dfea68678f10c","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2308.AA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2900,"wires":[]},{"id":"1f690aa69d744a21","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":2940,"wires":[[]]},{"id":"15a4c0833d7af018","type":"ui_template","z":"2eea27c2c74ff132","group":"98183b093a23b024","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":2860,"wires":[[]]},{"id":"14d9237aa45f657d","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2306.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":100,"wires":[["16dad379219255fa"]]},{"id":"16dad379219255fa","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload27') || 0;\nvar lastTime = flow.get('lastTime27') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime27', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload27') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload27', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":160,"wires":[["d49576dff36b150b","5612c609f8211342"],["5612c609f8211342","e0ac5f07f120971f"]]},{"id":"5612c609f8211342","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2306.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":140,"wires":[]},{"id":"e0ac5f07f120971f","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":180,"wires":[[]]},{"id":"d49576dff36b150b","type":"ui_template","z":"2eea27c2c74ff132","group":"2f41bfc0d1abddcb","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":100,"wires":[[]]},{"id":"c4ad9a4364951fbe","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2306.AA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":220,"wires":[["d0af58ea48d168bd"]]},{"id":"d0af58ea48d168bd","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload28') || 0;\nvar lastTime = flow.get('lastTime28') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime28', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload28') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload28', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":280,"wires":[["4529234c73fda5cf","efb3f0c20cce19cf"],["efb3f0c20cce19cf","f5f01e8690eb4a25"]]},{"id":"efb3f0c20cce19cf","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2306.AA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":260,"wires":[]},{"id":"f5f01e8690eb4a25","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":300,"wires":[[]]},{"id":"4529234c73fda5cf","type":"ui_template","z":"2eea27c2c74ff132","group":"65ac750b577b29a0","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":220,"wires":[[]]},{"id":"d3c3b8213800494d","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2306.AA/03","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":340,"wires":[["097aa02e449bf1b6"]]},{"id":"097aa02e449bf1b6","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload29') || 0;\nvar lastTime = flow.get('lastTime29') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime29', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload29') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload29', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":400,"wires":[["f438c7483df9318a","d249e3f3d3d585e3"],["d249e3f3d3d585e3","6a65183879222b4e"]]},{"id":"d249e3f3d3d585e3","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2306.AA/03","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":380,"wires":[]},{"id":"6a65183879222b4e","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":420,"wires":[[]]},{"id":"f438c7483df9318a","type":"ui_template","z":"2eea27c2c74ff132","group":"19c443ce1d1fc266","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":340,"wires":[[]]},{"id":"5292232718c5e21f","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AD/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":460,"wires":[["fdc34a69f8b4170f"]]},{"id":"fdc34a69f8b4170f","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload30') || 0;\nvar lastTime = flow.get('lastTime30') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime30', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload30') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload30', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":520,"wires":[["d1eae67fd53c3be4","cd6a46d723df48c0"],["cd6a46d723df48c0","8a285d498ceb181a"]]},{"id":"cd6a46d723df48c0","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AD/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":500,"wires":[]},{"id":"8a285d498ceb181a","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":540,"wires":[[]]},{"id":"d1eae67fd53c3be4","type":"ui_template","z":"2eea27c2c74ff132","group":"0bd34faf4ba61c7a","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":460,"wires":[[]]},{"id":"947ade5386a147e2","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AD/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":580,"wires":[["6b375036c5865d7d"]]},{"id":"6b375036c5865d7d","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload31') || 0;\nvar lastTime = flow.get('lastTime31') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime31', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload31') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload31', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":640,"wires":[["061054c7ab7fa2ac","03d572922e55081b"],["03d572922e55081b","3fef0e9c6120e0ef"]]},{"id":"03d572922e55081b","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AD/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":620,"wires":[]},{"id":"3fef0e9c6120e0ef","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":660,"wires":[[]]},{"id":"061054c7ab7fa2ac","type":"ui_template","z":"2eea27c2c74ff132","group":"a9e87f344ae8258f","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":580,"wires":[[]]},{"id":"1e255e7fae40fe6f","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AD/03","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":700,"wires":[["0e3b54efb79d9704"]]},{"id":"0e3b54efb79d9704","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload32') || 0;\nvar lastTime = flow.get('lastTime32') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime32', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload32') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload32', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":760,"wires":[["a331f8a507e853fc","b5035ce5e23eb499"],["b5035ce5e23eb499","8f0f52a45ce989cd"]]},{"id":"b5035ce5e23eb499","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AD/03","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":740,"wires":[]},{"id":"8f0f52a45ce989cd","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":780,"wires":[[]]},{"id":"a331f8a507e853fc","type":"ui_template","z":"2eea27c2c74ff132","group":"432f4ef89fd921eb","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":700,"wires":[[]]},{"id":"24f8f7b98c7f61cb","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AD/04","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":820,"wires":[["50b1d4b21610c727"]]},{"id":"50b1d4b21610c727","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload33') || 0;\nvar lastTime = flow.get('lastTime33') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime33', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload33') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload33', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":880,"wires":[["efe94e1175b16ec8","2218a8835cf89f4f"],["2218a8835cf89f4f","213b60a6638a934f"]]},{"id":"2218a8835cf89f4f","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AD/04","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":860,"wires":[]},{"id":"213b60a6638a934f","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":900,"wires":[[]]},{"id":"efe94e1175b16ec8","type":"ui_template","z":"2eea27c2c74ff132","group":"bd0b73c680dfcab9","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":820,"wires":[[]]},{"id":"691a974107e3b9f6","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AC/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":940,"wires":[["b26d1baceee2d1b2"]]},{"id":"b26d1baceee2d1b2","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload34') || 0;\nvar lastTime = flow.get('lastTime34') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime34', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload34') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload34', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1000,"wires":[["f51a14075ab8a05e","2bde167d068f33c4"],["2bde167d068f33c4","08ba6d8a0fc2436c"]]},{"id":"2bde167d068f33c4","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AC/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":980,"wires":[]},{"id":"08ba6d8a0fc2436c","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":1020,"wires":[[]]},{"id":"f51a14075ab8a05e","type":"ui_template","z":"2eea27c2c74ff132","group":"2b2150fa5a3f00a2","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":940,"wires":[[]]},{"id":"1e0d4f4374988713","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AB/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":1060,"wires":[["bccab4c7ba8fd541"]]},{"id":"bccab4c7ba8fd541","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload35') || 0;\nvar lastTime = flow.get('lastTime35') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime35', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload35') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload35', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1120,"wires":[["2f7744bb975ae624","d260e32d49b88172"],["d260e32d49b88172","711db8a9ede9dec3"]]},{"id":"d260e32d49b88172","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AB/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1100,"wires":[]},{"id":"711db8a9ede9dec3","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":1140,"wires":[[]]},{"id":"2f7744bb975ae624","type":"ui_template","z":"2eea27c2c74ff132","group":"9c27be42b86a5066","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":1060,"wires":[[]]},{"id":"61aed2649941ced4","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AB/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":1180,"wires":[["c6fe85efeb3118dc"]]},{"id":"c6fe85efeb3118dc","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload36') || 0;\nvar lastTime = flow.get('lastTime36') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime36', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload36') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload36', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1240,"wires":[["8e055d710113a885","84217d0046cc7a12"],["84217d0046cc7a12","fdfdcf312ce5e551"]]},{"id":"84217d0046cc7a12","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AB/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1220,"wires":[]},{"id":"fdfdcf312ce5e551","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":1260,"wires":[[]]},{"id":"8e055d710113a885","type":"ui_template","z":"2eea27c2c74ff132","group":"58690ec09b35564b","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":1180,"wires":[[]]},{"id":"cd6c54362f661bda","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AB/03","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":1300,"wires":[["fa063c2ca5e20a4c"]]},{"id":"fa063c2ca5e20a4c","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload37') || 0;\nvar lastTime = flow.get('lastTime37') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime37', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload37') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload37', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1360,"wires":[["5bdaea7521e34961","23228905dee0b2e2"],["23228905dee0b2e2","1af680b3c148fa93"]]},{"id":"23228905dee0b2e2","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AB/03","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1340,"wires":[]},{"id":"1af680b3c148fa93","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":1380,"wires":[[]]},{"id":"5bdaea7521e34961","type":"ui_template","z":"2eea27c2c74ff132","group":"6db8d0751244b97b","name":"Display Panel","order":4,"width":"6","height":"2","format":"<div class={{msg.payload}}>{{msg.payload}}</div>\n<div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":1300,"wires":[[]]},{"id":"df33fa03cf998589","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AB/04","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":1420,"wires":[["67a977d8d90cd1bb"]]},{"id":"67a977d8d90cd1bb","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload38') || 0;\nvar lastTime = flow.get('lastTime38') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime38', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload38') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload38', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1480,"wires":[["8ebb4ed376b73f6f","9db84df64b59401a"],["9db84df64b59401a","06749d32c5c9a083"]]},{"id":"9db84df64b59401a","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AB/04","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1460,"wires":[]},{"id":"06749d32c5c9a083","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":1500,"wires":[[]]},{"id":"8ebb4ed376b73f6f","type":"ui_template","z":"2eea27c2c74ff132","group":"cbf2b1591556be5d","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":1420,"wires":[[]]},{"id":"bd73a0bc4855e488","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":1540,"wires":[["0208755656ddc346"]]},{"id":"0208755656ddc346","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload39') || 0;\nvar lastTime = flow.get('lastTime39') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime39', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload39') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload39', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1600,"wires":[["4fcb2d8ca1e821ad","c9ab504c64843b32"],["c9ab504c64843b32","0c2098683b9fd217"]]},{"id":"c9ab504c64843b32","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1580,"wires":[]},{"id":"0c2098683b9fd217","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":1620,"wires":[[]]},{"id":"4fcb2d8ca1e821ad","type":"ui_template","z":"2eea27c2c74ff132","group":"3edc661f52537f3a","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":1540,"wires":[[]]},{"id":"8ababdb64c045d88","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":1660,"wires":[["647df02814507748"]]},{"id":"647df02814507748","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload40') || 0;\nvar lastTime = flow.get('lastTime40') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime40', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload40') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload40', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1720,"wires":[["975f886282d557f6","701e43ac10dc84f2"],["701e43ac10dc84f2","27ec74046d583452"]]},{"id":"701e43ac10dc84f2","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1700,"wires":[]},{"id":"27ec74046d583452","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":1740,"wires":[[]]},{"id":"975f886282d557f6","type":"ui_template","z":"2eea27c2c74ff132","group":"9127e79fb54cbc8d","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":1660,"wires":[[]]},{"id":"3ded89849082f710","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2305.AA/03","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":1780,"wires":[["6ac4222c2fdeab4d"]]},{"id":"6ac4222c2fdeab4d","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload41') || 0;\nvar lastTime = flow.get('lastTime41') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime41', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload41') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload41', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1840,"wires":[["0e9e06d9884bbe74","f4525af11eb6d7c4"],["f4525af11eb6d7c4","61b471d8a41332c7"]]},{"id":"f4525af11eb6d7c4","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2305.AA/03","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1820,"wires":[]},{"id":"61b471d8a41332c7","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":1860,"wires":[[]]},{"id":"0e9e06d9884bbe74","type":"ui_template","z":"2eea27c2c74ff132","group":"1cd3709ddd29da9e","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":1780,"wires":[[]]},{"id":"4dbc7a04aa213f51","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2304.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":1900,"wires":[["5841566558912db6"]]},{"id":"5841566558912db6","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload42') || 0;\nvar lastTime = flow.get('lastTime42') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime42', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload42') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload42', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1960,"wires":[["75095aba6e691757","2372a7224573eb52"],["2372a7224573eb52","a7ef2b86bc3329d2"]]},{"id":"2372a7224573eb52","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2304.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1940,"wires":[]},{"id":"a7ef2b86bc3329d2","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":1980,"wires":[[]]},{"id":"75095aba6e691757","type":"ui_template","z":"2eea27c2c74ff132","group":"1c4e1d0b36ba12b1","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":1900,"wires":[[]]},{"id":"63233eb2102827f8","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2304.AA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":2020,"wires":[["94943e08db1d4af9"]]},{"id":"94943e08db1d4af9","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload43') || 0;\nvar lastTime = flow.get('lastTime43') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime43', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload43') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload43', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2080,"wires":[["9dd94210ba79409a","9f67de6dc8a4cccf"],["9f67de6dc8a4cccf","974c2d4f0bdb175f"]]},{"id":"9f67de6dc8a4cccf","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2304.AA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2060,"wires":[]},{"id":"974c2d4f0bdb175f","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":2100,"wires":[[]]},{"id":"9dd94210ba79409a","type":"ui_template","z":"2eea27c2c74ff132","group":"7d1e0d9ae21bd162","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":2020,"wires":[[]]},{"id":"f180d6fd109214d8","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2300.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":2140,"wires":[["f611dfd888ddbb4c"]]},{"id":"f611dfd888ddbb4c","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload44') || 0;\nvar lastTime = flow.get('lastTime44') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime44', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload44') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload44', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2200,"wires":[["7d17f0cf640cdc01","61cf883fe7658fc0"],["61cf883fe7658fc0","df9154df583f96f6"]]},{"id":"61cf883fe7658fc0","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2300.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2180,"wires":[]},{"id":"df9154df583f96f6","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":2220,"wires":[[]]},{"id":"7d17f0cf640cdc01","type":"ui_template","z":"2eea27c2c74ff132","group":"9a5d55ca2a7acd32","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":2140,"wires":[[]]},{"id":"7e9f7a6060f5e331","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2300.AA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":2260,"wires":[["1901d03e7c7527da"]]},{"id":"1901d03e7c7527da","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload45') || 0;\nvar lastTime = flow.get('lastTime45') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime45', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload45') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload45', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2320,"wires":[["aa554f0b75553ca1","5c3d36fa87492290"],["5c3d36fa87492290","1eec2ad37c2480eb"]]},{"id":"5c3d36fa87492290","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2300.AA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2300,"wires":[]},{"id":"1eec2ad37c2480eb","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":2340,"wires":[[]]},{"id":"aa554f0b75553ca1","type":"ui_template","z":"2eea27c2c74ff132","group":"899f817c1177cd56","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":2260,"wires":[[]]},{"id":"0ab55ef1e20a7ebc","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2298.BA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":2380,"wires":[["ca6b5acd407b2184"]]},{"id":"ca6b5acd407b2184","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload46') || 0;\nvar lastTime = flow.get('lastTime46') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime46', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload46') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload46', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2440,"wires":[["033f50a3eab0b0c2","6dfc1eaee55d6467"],["6dfc1eaee55d6467","1b4a58e84244d09c"]]},{"id":"6dfc1eaee55d6467","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2298.BA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2420,"wires":[]},{"id":"1b4a58e84244d09c","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":2460,"wires":[[]]},{"id":"033f50a3eab0b0c2","type":"ui_template","z":"2eea27c2c74ff132","group":"fc01cd21ca096922","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":2380,"wires":[[]]},{"id":"a61830cf3480e590","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2289.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":2500,"wires":[["7bbb7ec2d9667e27"]]},{"id":"7bbb7ec2d9667e27","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload47') || 0;\nvar lastTime = flow.get('lastTime47') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime47', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload47') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload47', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2560,"wires":[["c223284cc3a8c82b","f0fb5a05711f97dd"],["f0fb5a05711f97dd","d777372da9f5366a"]]},{"id":"f0fb5a05711f97dd","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2289.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2540,"wires":[]},{"id":"d777372da9f5366a","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":2580,"wires":[[]]},{"id":"c223284cc3a8c82b","type":"ui_template","z":"2eea27c2c74ff132","group":"e9ba20e5ba995a5c","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":2500,"wires":[[]]},{"id":"3cda512e5124e6f2","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2298.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":2620,"wires":[["13e8348de459c82d"]]},{"id":"13e8348de459c82d","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload48') || 0;\nvar lastTime = flow.get('lastTime48') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime48', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload48') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload48', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2680,"wires":[["6b1f1c1cc884e5b5","dcecac6a9ba1a590"],["dcecac6a9ba1a590","7b355a4e4597da9f"]]},{"id":"dcecac6a9ba1a590","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2298.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2660,"wires":[]},{"id":"7b355a4e4597da9f","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":2700,"wires":[[]]},{"id":"6b1f1c1cc884e5b5","type":"ui_template","z":"2eea27c2c74ff132","group":"2a4792acdc07b2eb","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":2620,"wires":[[]]},{"id":"5a4f7d10d785e828","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2287.AB/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":2740,"wires":[["035b33dc7d8a13c8"]]},{"id":"035b33dc7d8a13c8","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload49') || 0;\nvar lastTime = flow.get('lastTime49') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime49', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload49') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload49', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2800,"wires":[["5dfc1a35e5e7888c","891afe46edfe0d5f"],["891afe46edfe0d5f","6290adaf05790b44"]]},{"id":"891afe46edfe0d5f","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2287.AB/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2780,"wires":[]},{"id":"6290adaf05790b44","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":2820,"wires":[[]]},{"id":"5dfc1a35e5e7888c","type":"ui_template","z":"2eea27c2c74ff132","group":"fda14ae9c94581eb","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":2740,"wires":[[]]},{"id":"6f6fe1054282394f","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2287.AB/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":2860,"wires":[["89bf740fcd4f3451"]]},{"id":"89bf740fcd4f3451","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload50') || 0;\nvar lastTime = flow.get('lastTime50') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime50', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload50') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload50', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2920,"wires":[["877b4c642cc8f1d1","c765ddcc2f114d6a"],["c765ddcc2f114d6a","800d2e062627f284"]]},{"id":"c765ddcc2f114d6a","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2287.AB/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2900,"wires":[]},{"id":"800d2e062627f284","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":2940,"wires":[[]]},{"id":"877b4c642cc8f1d1","type":"ui_template","z":"2eea27c2c74ff132","group":"65065bcf75a87b5d","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":2860,"wires":[[]]},{"id":"75dcf88b15aaad81","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2287.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2980,"wires":[["173a1b2457753e95"]]},{"id":"173a1b2457753e95","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload25') || 0;\nvar lastTime = flow.get('lastTime25') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime25', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload25') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload25', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":3040,"wires":[["298ad1d0bc7827e8","92e487dd267a302b"],["92e487dd267a302b","1dd5382f12097d85"]]},{"id":"92e487dd267a302b","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2287.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":3020,"wires":[]},{"id":"1dd5382f12097d85","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":3060,"wires":[[]]},{"id":"298ad1d0bc7827e8","type":"ui_template","z":"2eea27c2c74ff132","group":"829627e8ea93cdf2","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":2980,"wires":[[]]},{"id":"75c84a6790f63181","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2287.AA/02","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":3100,"wires":[["e1c746dd9d7e0a69"]]},{"id":"e1c746dd9d7e0a69","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload26') || 0;\nvar lastTime = flow.get('lastTime26') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime26', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload26') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload26', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":3160,"wires":[["b161a91b76ed02de","7651171830bf15d4"],["7651171830bf15d4","eccc5fe712cea6f6"]]},{"id":"7651171830bf15d4","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2287.AA/02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":3140,"wires":[]},{"id":"eccc5fe712cea6f6","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":480,"y":3180,"wires":[[]]},{"id":"b161a91b76ed02de","type":"ui_template","z":"2eea27c2c74ff132","group":"8f1cc1e0befd1ac2","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":3100,"wires":[[]]},{"id":"ec4c3427e439e2c3","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"NTC/2286.AA/01","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":960,"y":2980,"wires":[["183c287c9ef9e59d"]]},{"id":"183c287c9ef9e59d","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload51') || 0;\nvar lastTime = flow.get('lastTime51') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime51', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload51') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload51', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":3040,"wires":[["df40f88f1d8ee282","6eb6020737792474"],["6eb6020737792474","61ebcccaaa410211"]]},{"id":"6eb6020737792474","type":"debug","z":"2eea27c2c74ff132","name":"NTC/2286.AA/01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":3020,"wires":[]},{"id":"61ebcccaaa410211","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":3060,"wires":[[]]},{"id":"df40f88f1d8ee282","type":"ui_template","z":"2eea27c2c74ff132","group":"56184f5494956f46","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":2980,"wires":[[]]},{"id":"b4e12a2ed02ec462","type":"mqtt in","z":"2eea27c2c74ff132","name":"","topic":"Dialog/TB001","qos":"0","datatype":"auto-detect","broker":"0b8aab268d0b4577","nl":false,"rap":true,"rh":0,"inputs":0,"x":950,"y":3100,"wires":[["910417ab178f2b71"]]},{"id":"910417ab178f2b71","type":"function","z":"2eea27c2c74ff132","name":"StateChange&TimeTracking","func":"var lastPayload = flow.get('lastPayload52') || 0;\nvar lastTime = flow.get('lastTime52') || new Date(0);\n\nvar currentTime = new Date();\nvar runTime = currentTime.getTime() - lastTime.getTime();\nvar seconds = Math.floor(runTime / 1000);\nvar hours = Math.floor(seconds / 3600);\nseconds = (seconds % 3600);\nvar minutes = Math.floor(seconds / 60);\nseconds = seconds % 60;\nmsg.elapsedTime = hours.toString() + \":\" + minutes.toString() + \":\" + seconds.toString();\nif ((lastPayload != msg.payload) && (runTime > 5000)) {\n    msg.beginTime = lastTime.toISOString().slice(0, 19).replace('T', ' ');\n    msg.endTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');\n\n    flow.set('lastTime52', currentTime);\n    let toDb = \"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime) VALUES (\\\"\" + msg.topic + \"\\\", \\\"\" + flow.get('lastPayload52') + \"\\\", \\\"\" + msg.payload + \"\\\", \\\"\" + msg.beginTime + \"\\\", \\\"\" + msg.endTime + \"\\\");\";\n    flow.set('lastPayload52', msg.payload);\n\n    var msgToDb = msg;\n    msgToDb.topic = toDb;\n    return [msg, msgToDb];\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":3160,"wires":[["0b8fc36082bb3bd4","47d82f24e1bf4274"],["47d82f24e1bf4274","f59179d078b73e71"]]},{"id":"47d82f24e1bf4274","type":"debug","z":"2eea27c2c74ff132","name":"Dialog/TB001","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1260,"y":3140,"wires":[]},{"id":"f59179d078b73e71","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"INSERT INTO testsetupData (id, lastState, currentState, beginTime, endTime)\nVALUES (msg.topic, msg.lastState, msg.payload, msg.beginTime, msg.endTime);","name":"Insert in testsetupData","x":1280,"y":3180,"wires":[[]]},{"id":"0b8fc36082bb3bd4","type":"ui_template","z":"2eea27c2c74ff132","group":"35202b93465eb601","name":"Display Panel","order":4,"width":"6","height":"2","format":"\n    <div class={{msg.payload}}>{{msg.payload}}</div>\n    <div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1260,"y":3100,"wires":[[]]},{"id":"08fb162e75d49015","type":"ui_button","z":"2eea27c2c74ff132","name":"","group":"b48c5fe643d0672c","order":0,"width":"2","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"SELECT * FROM moduleReference;","topicType":"str","x":1620,"y":580,"wires":[["07e35e3ebdcbad7f","45d22ed583b6d6e5"]]},{"id":"31dddbaa620c6790","type":"ui_ui_control","z":"2eea27c2c74ff132","name":"","events":"change","x":2080,"y":40,"wires":[[]]},{"id":"b479b82cee19e86c","type":"function","z":"2eea27c2c74ff132","name":"Hide all testsetups","func":"let updatedMsg = {};\nfor (let i = 0; i < 53; i++) {\n    updatedMsg.payload = {\n        \"group\": {\n            \"hide\": [(\"SensorHub_\" + (msg.payload[i][\"id\"]).toString())]\n        }\n    };\n    node.send(updatedMsg);\n}\n/*\nlet hide_group = msg.payload;\nmsg.payload = {\n    \"group\": {\n        \"hide\": [(\"SensorHub_\" + hide_group)]\n    }};\nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":40,"wires":[["31dddbaa620c6790"]]},{"id":"4066865be1a17d11","type":"function","z":"2eea27c2c74ff132","name":"Show used testsetups","func":"\nlet updatedMsg = {};\nfor (let i = 0; i < 53; i++) {\n    let id_check = msg.payload[i][\"testsetup_id\"];\n    if (id_check != \"None\"){\n        updatedMsg.payload = {\n            \"group\": {\n                \"show\": [(\"SensorHub_\" + id_check)]\n            }\n        };\n        node.send(updatedMsg);\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":580,"wires":[["7ab417a3cf29ffd2"]]},{"id":"07e35e3ebdcbad7f","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"msg.topic","sql":"","name":"Get used testsetups","x":1820,"y":580,"wires":[["50e8359840615853"]]},{"id":"6e6fccd20947b406","type":"function","z":"2eea27c2c74ff132","name":"Hide all testsetups","func":"let updatedMsg = {};\nfor (let i = 0; i < 53; i++) {\n    updatedMsg.payload = {\n        \"group\": {\n            \"hide\": [(\"SensorHub_\" + (msg.payload[i][\"id\"]).toString())]\n        }\n    };\n    node.send(updatedMsg);\n}\n/*\nlet hide_group = msg.payload;\nmsg.payload = {\n    \"group\": {\n        \"hide\": [(\"SensorHub_\" + hide_group)]\n    }};\nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2250,"y":640,"wires":[["7ab417a3cf29ffd2"]]},{"id":"7ab417a3cf29ffd2","type":"ui_ui_control","z":"2eea27c2c74ff132","name":"","events":"change","x":2500,"y":580,"wires":[[]]},{"id":"50e8359840615853","type":"delay","z":"2eea27c2c74ff132","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2000,"y":580,"wires":[["4066865be1a17d11"]]},{"id":"f5a526011dce5533","type":"ui_template","z":"2eea27c2c74ff132","group":"11df73ddbe44ebcd","name":"Display Panel ","order":4,"width":"6","height":"2","format":"<div class={{msg.payload}}>{{msg.payload}}</div>\n<div class=timer>{{msg.elapsedTime}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":460,"y":100,"wires":[[]]},{"id":"45d22ed583b6d6e5","type":"sqlite","z":"2eea27c2c74ff132","mydb":"6ed866d99e73b8c8","sqlquery":"fixed","sql":"SELECT * FROM testsetups;","name":"Get all testsetups","x":1830,"y":640,"wires":[["6e6fccd20947b406"]]}]
